{% extends 'base3.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<div class="content is-large">
	<h1 class='is-family-monospace-danger'>
		Welcome, {{ name.email }} !

	</h1>
</div>

<div>
	<br><br><br>
	<div class="content is-large">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
            	<h4> {{ messages[0] }} Click <a href="{{ url_for('main.index') }}"><i> here</i></a> to search for flights. </h4>
            </div>
		{% else %}
			<h4> Here are upcoming flights for your clients</h4>
        
        {% endif %}
    {% endwith %}
	</div>

	<div class="table-container">
		{% if all_upcoming_flights %}
		<table class="table is-fullwidth">
			<thead>
				<tr>
				    <th>Client Name</th>
					<th>Ticket Id</th>
					<th>Airline </th>
					<th>Flight Number</th>
					<th>Route</th>
					<th>Origin</th>
					<th>Destination</th>
					<th>Departing Time</th>
					<th>Arrival Time</th>
					<th>Status</th>
				</tr>
			</thred>
			<tbody>
				{% for row in all_upcoming_flights %}
				<tr> 
				    <td> {{ row.customer.name }} </td>
					<td> {{ row.ticket.ticket_id}} </td>
					<td> {{ row.flight.airline_name}} </td>
					<td> {{ row.flight.flight_num }} </td>
					<td> {{ row.flight.departure_airport + " - " +row.flight.arrival_airport }} </td>
					<td> {{ row.origin.airport_city}} </td>
					<td> {{ row.destination.airport_city}} </td>
					<td> {{ row.flight.departure_time }} </td>
					<td> {{ row.flight.arrival_time }} </td>
					<td> {{ row.flight.status }} </td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
		{% endif %}
	</div>
</div>

<div>
    <br><br><br>
    <div class="content is-large">
        <h4> Past 30 Days Commission History </h4>
    </div>
	<h1 class='is-family-monospace-danger'>
    <ul>
		<li> Total Commisssion: ${{ all_commission }} </li>
        <li> Totol Number of Tickets Sold:  {{ num_of_tickets_sold}}</li>
        <li> Average Commission: ${{ average }} </li>
    </ul>
	</h1>

    <br>

    <div class="content is-large">
    <h4> Selective Days Commission History </h4>
    </div>
    {% if selected_com %}
        <h1 class='is-family-monospace-danger'>
        <h1> Commission from {{start}} to {{ end }}: </h1>
        <ul>
            <li> Total Commisssion: ${{ selected_com }} </li>
            <li> Totol Number of Tickets Sold:  {{ selected_tic}}</li>
            <li> Average Commission: ${{ selected_ave }} </li>
        </ul>
        </h1>
    {% else %}
        <h1> Make a selection first.</h2>
    {% endif %}

    <div class="column is-4 is-offset-4">
        <form method="POST" action="/agent_home">
            <div class="field">
                <div class="control">
                    <input class="input" type="date" name="agent_start">
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <input class="input" type="date" name="agent_end">
                </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
                <p class="control is-expanded">
                    <button class="button is-info is-primary">Submit</button>
                </p>
            </div>
        </form>
    </div>
</div>





<div>
    <br><br><br>
    <div class="content is-large">
        <h4> Top Customers </h4>
        {{ top5 }}
    </div>
</div>


<div class="container">
    <div class="content is-large">
        {% if x %}
            <h4> By Number of Tickets Sold in the Last 6 months</h4>
            <canvas id='barChart' width='1000' height='400'></canvas>
            <script> 
                var ctx = document.getElementById('barChart').getContext('2d');
                var barChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: {{ x | safe }},
                        datasets: [{
                            label: "Number of Tickets Sold to this Customer",
                            data: {{ y | safe }},
                            borderWidth:1}]},
                        options: {
                            responsive:false,
                            scales: {
                                xAxes: [{scaleLabel: {display: true,labelString: 'Customers' }}],
                                yAxes: [{ticks: {min: 0 }} , {scaleLabel: {display: true,labelString: 'Number of Tickets Sold' }}]
                            }
                        }
                });
            </script>
        {% else %}
            <h6> <strong>You have no top customer by ticket sold. </strong></h6>
        {% endif %}
            
    </div>
    <br><br>

    <div class="content is-large">
        {% if x2 %}
            <h4> By Number Total Amount of Commission in the Last Year</h4>
            <canvas id='topCom' width='1000' height='400'></canvas>
            <script> 
                var ctx = document.getElementById('topCom').getContext('2d');
                var barChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: {{ x2 | safe }},
                        datasets: [{
                            label: "Total Commission Earned (in $)",
                            data: {{ y2 | safe }},
                            borderWidth:1}]},
                        options: {
                            responsive:false,
                            scales: {
                                xAxes: [{scaleLabel: {display: true,labelString: 'Customers' }}],
                                yAxes: [{scaleLabel: {display: true,labelString: 'Total Commission ($)' }}]
                            }
                        }    
                });
            </script>
        {% else %}
            <h6> <strong>You have no top customer by commission. </strong></h6>
        {% endif %}
            
        </div>
</div>



<br><br><br>
{% endblock %}
