{% extends 'base2.html' %}
{% block title %} Home {% endblock %}
{% block content %}


<div>
	<br><br><br><br>
	<div class="content is-large">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
            	<h4> {{ messages[0] }}</h4>
            </div>
		{% else %}
			<h4> <strong>{{ airline }}</strong> frequent flyers:</h4>
			{{ top_agents_past_month }}

        {% endif %}
    {% endwith %}
	</div>

	<div class="table-container">
		{% if frequent_flyers %}
		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th>Customer Name</th>
					<th>Email</th>
					<th>Number of Tickets Purchased</th>
				</tr>
			</thred>
			<tbody>
				{% for row in frequent_flyers %}
				<tr> 
				<td> {{ row.name }} </td>
				<td> {{ row.customer_email }} </td>
				<td> {{ row[2] }} </td>
				
				</tr>
				{% endfor %}
			</tbody>
			</table>
		{% endif %}
	</div>
</div>



<div>
	<br><br><br>
	<div class="content is-large">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
            	<h4> {{ messages[0] }}</h4>
            </div>
		{% else %}
			<h4> Top Agents</h4>

        {% endif %}
    {% endwith %}
	</div>

	<div class="table-container">
		{% if top_agents_past_month %}
		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th colspan="3"><strong><h3>By tickets sold in the past month </strong></th>
				</tr>
				<tr>
					<th>Agent ID</th>
					<th>Email</th>
					<th>Number of Tickets Sold</th>
				</tr>
			</thred>
			<tbody>
				{% for row in top_agents_past_month %}
				<tr> 
				<td> {{ row.booking_agent_id }} </td>
				<td> {{ row.email }} </td>
				<td> {{ row[2] }} </td>
				
				</tr>
				{% endfor %}
			</tbody>
			</table>
		{% endif %}
	</div>

	<br>

	<div class="table-container">
		{% if top_agents_year %}
		<table class="table is-fullwidth">
		
			<thead>
				<tr>
					<th colspan="3"><strong><h3>By tickets sold in the past year </strong></th>
				</tr>
				<tr>
					<th>Agent ID</th>
					<th>Email</th>
					<th>Number of Tickets Sold</th>
				</tr>
			</thred>
			<tbody>
				{% for row in top_agents_year %}
				<tr> 
					<td> {{ row.booking_agent_id }} </td>
					<td> {{ row.email }} </td>
					<td> {{ row[2] }} </td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
		{% endif %}
	</div>


	<br>

	<div class="table-container">
		{% if top_agents_commission %}
		<table class="table is-fullwidth">
		
			<thead>
				<tr>
					<th colspan="3"><strong><h3>By commission in the past year </strong></th>
				</tr>
				<tr>
					<th>Agent ID</th>
					<th>Email</th>
					<th>Total Amount of Commission</th>
				</tr>
			</thred>
			<tbody>
				{% for row in top_agents_commission %}
				<tr> 
					<td> {{ row[0] }} </td>
					<td> {{ row[1] }} </td>
					<td> ${{ row[2] }} </td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
		{% endif %}
	</div>



</div>



{% endblock %}
