{% extends 'base2.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<div class="content is-large">
	<h1 class='is-family-monospace-danger'>
		Welcome, !

	</h1>
</div>


<div>
	<br><br><br><br>
	<div class="content is-large">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
            	<h4> {{ messages[0] }}</h4>
            </div>
		{% else %}
			<h4> Here are upcoming flights for <strong>{{ airline }}</strong> </h4>
        {% endif %}
    {% endwith %}
	</div>

	<div class="table-container">
		{% if all_upcoming_flights %}
		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th>Flight Number</th>
					<th>Route</th>
					<th>Origin</th>
					<th>Destination</th>
					<th>Departing Time</th>
					<th>Scheduled Arrival Time</th>
					<th>Status</th>
				</tr>
			</thred>
			<tbody>
				{% for row in all_upcoming_flights %}
				<tr> 
				<td> {{ row.flight.flight_num }} </td>
				<td> {{ row.flight.departure_airport + " - " +row.flight.arrival_airport }} </td>
				<td> {{ row.origin.airport_city }} </td>
				<td> {{ row.destination.airport_city }} </td>
				<td> {{ row.flight.departure_time}} </td>
				<td> {{ row.flight.arrival_time}} </td>
				<td> {{ row.flight.status}} </td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
		{% endif %}
	</div>
</div>





{% endblock %}
